.field {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    background: #F48C06;
    border-radius: 17px;
    width: 330px;
    height: 44px;
    font-size: 16px;
    line-height: 19px;
    color: #03071E;
}

.field::placeholder {
    color: #03071E;
}