.formWrapper {
    position: fixed;
    bottom: 2%;
    left: 10%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    margin: 10px 20px 150px 155px;
}

