.messageBox {
    background: #FFBA08;
    display: inline-block;
    border-radius: 17px;
    padding: 10px 15px;
    margin: 70px;
    margin-left: 140px;
}
.username {
    font-weight: 800;
    color: #9d0208;
    margin-bottom: 5px;
}